<nav id="navbar" class="container-fluid navbar navbar-expand navbar-light">
  <div class="mx-5 my-3">
    <div class="fs-custom-6 navbar__header">
      <a href="/">Babita Naagar</a>
    </div>
    <div class="fs-custom-2">Interaction Designer</div>
  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav mx-5 my-3">
      <li class="nav-item">
        <a class="nav-link fs-custom-3 pe-4" href="/#work">Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-custom-3 pe-4" href="/">Resume</a>
      </li>
    </ul>
  </div>
</nav>